<h3><a class="btn btn-info" href="/customer"><i class="fa fa-plus"></i> Create New</a> </h3>
<table class="table">
    <thead>
        <tr>          
            
            <th>Discount</th>
            <th>Customer</th>
            <th>Total(USD)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            
            <td>{{this.discount}} %</td>
            <td>{{this.selectt}}</td>
            <td>$ {{this.finalTotal}}</td>
            
                      
        </tr>
        {{/each}}
    </tbody>
</table>